.*
bin/
out/
build/
nbproject/private/
!.gitignore
*.iml
*.ipr
*.iws

OOP/java2/Labas/JavaApplication1/nbproject/private/private.properties
OOP/java2/Labas/Laba3Task1/nbproject/private/private.properties
OOP/java2/Labas/Laba2task4/nbproject/private/private.properties
OOP/java2/Labas/laba2task8/nbproject/private/private.properties
OOP/java2/Labas/laba2task9/nbproject/private/private.properties
OOP/java2/Labas/Laba3Task1/nbproject/private/private.xml
