body>form {
    margin: 0 auto;
    max-width: 600px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 50px;
}

button {
    font-size: 30px;
    color: #202124;
    background-color: #dfe1e5;
    border: none;
    border-radius: 10px;
    outline: none;
    user-select: none; 
}

button:hover {
    background: #d7d9dd;
}

button:active {
    box-shadow: 0 1px 1px 0 rgba(60, 64, 67, 0.30), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
}

button:nth-child(n+6):nth-child(-n+8), button:nth-child(n+10):nth-child(-n+12), button:nth-child(n+14):nth-child(-n+16), button:nth-child(n+18):nth-child(-n+19) {
    background-color: #f1f3f4;
}

button:nth-child(n+6):nth-child(-n+8):hover, button:nth-child(n+10):nth-child(-n+12):hover, button:nth-child(n+14):nth-child(-n+16):hover, button:nth-child(n+18):nth-child(-n+19):hover {
    background-color: #e8eaeb;
}

button:nth-child(20) {
    background: #4285f4;
    color: white;
}

button:nth-child(20):active {
    background: #4d8bf1;
}

form>input {
    grid-column: 1 / span 4;
    text-align: end;
    font-size: 36px;
    padding: 0px 8px 0px 0px;
    outline: none;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
}